<div id="aa">
  <div class="row">
      <img id="image" [src]="myimage">
      <div class="container-fluid">
        <button class="navbar-toggler" id="btn" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="cabmoto">
          <h1><span id="Ca">Ca</span>b<span id="Mo">Mo</span>to</h1>
        </div>
    <link rel="stylesheet" href="">
    
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            
          </div>
        </div>
      </div>
  </div>
  <h1 id="titre">Vespa Sprint 2017</h1>
  <div >
    <img id="sprint" [src]="image">
    <h2 id="price">2999DT</h2>
  </div>
  <div class="model">
    <a href="assets/photo/spring 2.png"><img id="aa" [src]="image2"></a>
    <a href="assets/photo/spring 3.png"><img id="bb" [src]="image3"></a>
    <a href="assets/photo/spring 4.png"><img  id="cc"[src]="image4"></a>
  </div>
  <button type="submit" class="btn btn-primary" id="p1">Add to cart </button>

  <div>
    <h2 id="d1">Aperçu</h2>
  <h3 id="para">The Sprint S includes as standard an innovative instrument panel with multi-functional full colour TFT
    display, which
    connects to the Vespa MIA app, to provide a wealth of useful information. In addition to data such as fuel level,
    mileage and speed, the TFT can also connect to your smartphone, enabling you to manage calls and request songs from
    your playlist.</h3>
  </div>
  
  </div>


