<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img [src]="myimage">
    <div class="container-fluid">
      <button class="navbar-toggler" id="btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
      <div class="cabmoto">
        <h1><span id="Ca">Ca</span>b<span id="Mo">Mo</span>to</h1>
      </div>
  
      <form class="d-flex" id="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      

  <link rel="stylesheet" href="">
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button id="login" class="btn btn-primary me-md-2 " type="button" routerLink="/login">Login</button>
          <button class="btn btn-primary " type="button" id="sign" routerLink="/register">Register</button>
        </div>
      </div>
     
      </div>
      
    </nav>
    
    
</div>
<div id="panier">
  <button type="button" class="btn">
    <svg id="pic" xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor" class="bi bi-cart3"
      viewBox="0 0 16 16">
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg></button>
</div>
   
  